<div class="sidebar-container">
  <div class="search-header">
    <div class="search-wrapper">
      <span class="material-symbols-outlined search-icon">search</span>
      <input
        type="text"
        class="search-input"
        placeholder="Search..."
        [(ngModel)]="searchTerm"
        (ngModelChange)="searchTermChange.emit($event)"
      />
    </div>

    <div class="action-buttons">
      <button
        class="icon-btn"
        (click)="openGroupModalEmit()"
        title="Create New Group"
      >
        <span class="material-symbols-outlined">group_add</span>
      </button>
      <button
        class="icon-btn"
        (click)="openAddFriendEmit()"
        title="Add Friend"
      >
        <span class="material-symbols-outlined">person_add</span>
      </button>
    </div>
  </div>

  <div class="users-scroll-area custom-scrollbar">
    
    <ng-container *ngIf="groups.length > 0">
      <div class="list-section-label">Groups</div>
      <div
        *ngFor="let group of groups"
        class="user-item"
        [class.active]="selectedGroupId === group._id"
        (click)="selectGroup(group)"
      >
        <div class="avatar-wrapper">
          <div class="avatar-circle group-avatar">
            <img
              *ngIf="group.avatar"
              [src]="group.avatar"
              class="avatar-img"
            />
            <span *ngIf="!group.avatar">{{ group.name.charAt(0).toUpperCase() }}</span>
          </div>
        </div>
        <div class="item-details">
          <div class="row-top">
            <h3 class="name-text">{{ group.name }}</h3>
          </div>
          <div class="row-bottom">
            <p class="preview-text">{{ group.participants.length }} members</p>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="list-section-label">Direct Messages</div>
    <div
      *ngFor="let user of filtertedUser"
      class="user-item"
      [class.active]="receiverId === user._id"
      (click)="selectUser(user)"
    >
      <div class="avatar-wrapper">
        <div class="avatar-circle" [class.no-img]="!user.avatar">
          <img *ngIf="user.avatar" [src]="user.avatar" class="avatar-img" />
          <span *ngIf="!user.avatar">{{ user.name.charAt(0).toUpperCase() }}</span>
        </div>
        <div
          class="status-dot"
          [class.online]="onlineUsers.has(user._id)"
          [class.offline]="!onlineUsers.has(user._id)"
        ></div>
      </div>
      
      <div class="item-details">
        <div class="row-top">
          <h3 class="name-text">{{ user.name }}</h3>
          <span class="time-text">{{ onlineUsers.has(user._id) ? "Online" : "Offline" }}</span>
        </div>
        <div class="row-bottom">
          <p class="preview-text">
            {{ onlineUsers.has(user._id) ? "Active now" : "Last seen recently" }}
          </p>
          <span class="unread-count" *ngIf="(unreadMap.get(user._id) ?? 0) > 0">
            {{ unreadMap.get(user._id) }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>